{%extends 'base.html'%}    
{% load static staticfiles auth_extras %}  
{%block style%}
<link href="/static/bootstrap/css/tabla_busqueda.css" rel="stylesheet" type="text/css" media="all">
<!-- Icons -->
<script src="https://use.fontawesome.com/3d312f9868.js"></script>
<!-- Para que funcione la busqueda-->
<script src="/static/bootstrap/js/jquery.min.js"></script>
{%endblock%} <!-- -->
{%block content%}
<br><br><br>

{% if pacientes %}
<div class="centrarcontenido">
        <form action="." method="GET">
          <center>
          <input type="text" id="search" placeholder="Buscar Paciente..." class="search-box"><br>
          </center>
        </form>
        <div id="no-more-tables">
            <table  id="table">
        		<thead class="cf">
        			<tr>
        				<th>Fecha de Registro</th>
        				<th>RFC</th>
        				<th>Nombre</th>
        				<th>Edad</th>
                        <!-- if user.username == "Rincon" -->
                        {% if user.is_superuser %}
                            <th>Usuario</th>   
                        {% endif %}
                        <th>Imprimir</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        <th></th>
                        <th></th>
        			</tr>
        		</thead>
                {% for a in pacientes %}
        		<tbody>
                    <tr>
        				<td data-title="Fecha de Registro">{{a.fecha}}</td>
                        <td data-title="RFC">{{a.rfc}}</td>
                        <td data-title="Nombre">{{a.ap_paterno}} {{a.ap_materno}} {{a.nombre}}</td>
                        <td data-title="Edad">{{a.edad_paciente}}</td>
                        {% if user.is_superuser %}
                        <td data-title="Usuario">{{a.usuario}}</td>   
                        {% endif %}
                        <td data-title="Imprimir"><a class="btn btn-primary btn-sm btn_ver"  href='/PDF_Expediente_Medico.pdf/{{a.pk}}/' role="button" target="_blank"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Imprimir&nbsp;</td>
                        <td data-title="Editar">
                        <!-- Solo mostrar el boton editar a los registros
                            que uno hizo -->
                        {% if user.is_superuser %}
                        <a class="btn btn-success btn-sm btn_ver"  href='/Modificar_Expediente_Medico/{{a.pk}}/' role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Editar&nbsp;
                        {% else %}
                            {% if user.username == a.usuario %}
                            <a class="btn btn-success btn-sm btn_ver"  href='/Modificar_Expediente_Medico/{{a.pk}}/' role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Editar&nbsp;
                            {% else %}
                            --------------
                            {% endif %}
                        {% endif %}
                        </td>
                        <td data-title="Eliminar">
                            {% if user.username == a.usuario or user.is_superuser %}
                            <a class="btn btn-danger btn-sm btn_ver"  href='/Eliminar_Expediente_Medico/{{a.pk}}/' role="button"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Eliminar&nbsp;
                            {% else %}
                            --------------
                            {% endif %}
                         </td>
                        <td data-title="">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Hoja Evolución
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <!-- IF PERMISSIONS -->
                              {% if request.user|has_group:"medico" or request.user|has_group:"terapeuta" or request.user|has_group:"administracion" %}
                              <a class="dropdown-item" href="/Modificar_Hoja_Evolucion/{{a.pk}}/"> Llenar</a>
                              {% endif %}
                              <!-- ENDIF PERMISSIONS -->
                              <a class="dropdown-item" href="/PDF_Hoja_Evolucion.pdf/{{a.pk}}/" target="_blank"> Imprimir</a>
                            </div>
                          </li>
                        </ul>
                        </td>
                        <td data-title="">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Hoja Tratamiento
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <!-- IF PERMISSIONS -->
                              {% if request.user|has_group:"medico" or request.user|has_group:"terapeuta" or request.user|has_group:"administracion" %}
                              <a class="dropdown-item" href="/Modificar_Hoja_Tratamiento/{{a.pk}}/"> Llenar</a>
                              {% endif %}
                              <!-- ENDIF PERMISSIONS -->
                              <a class="dropdown-item" href="/PDF_Hoja_Tratamiento.pdf/{{a.pk}}/" target="_blank"> Imprimir</a>
                            </div>
                          </li>
                        </ul>
                        </td>
                    </tr>
        		</tbody>
                {% endfor %}
        	</table>
        </div>
</div>
{% else %}
<center style="font-size:18px;">No hay pacientes registrados con el usuario <b style="font-size:22px;">{{user}}</b>.</center>
{% endif %}
<br><br><br>

<script>
var $rows = $('#table tbody');
$('#search').keyup(function() {

    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;

    $rows.show().filter(function() {
        text = $(this).text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
</script> 
 {%endblock%}}
}
